{% extends 'home/base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <div class="col-md-4">
        <form action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                <input type="submit" class="btn btn-outline-secondary" value="Sign Up">

            </div>
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
</div>
{% endblock %}