{% extends 'home/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<a class="navbar-brand" href="{% url 'home/' %}"
    style="font-family: 'Pattaya', sans-serif; letter-spacing: 1px; font-size: 1.5rem; padding: 1rem; color:black"><span><i
            class="fa-brands fa-instagram fa-xl"></i></span> Instagram</a>
<form action="{% url 'home/' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% bootstrap_form comment_form %}

    <button class="btn btn-success btn-sm" type="submit">Post</button>
</form>
{% endblock %}