{% extends 'home/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
{{block.super}}

<nav class="navbar navbar-expand{-sm|-md|-lg|-xl|-xxl}">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"
            style="font-family: 'Pattaya', sans-serif; letter-spacing: 1px; font-size: 1.5rem; padding: 1rem;"><span><i
                    class="fa-brands fa-instagram fa-xl"></i></span> Instagram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" label="Menu">
            <span><i class="fa-solid fa-bars-staggered fa-xl"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home/' %}"><span><i class="fa-solid fa-house-user"></i></span> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new post' %}"><span><i class="fa-solid fa-images"></i></span> Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span><i class="fa-solid fa-bell"></span></i> Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><span><i class="fa-solid fa-user"></i></span> Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h4 class="logo">Instagram</h4>
    <!-- user stories here in rounded images -->
    {% for image in show_images %}
    <div class="card" style="width: 18rem;">
        <img src="{{image.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <div class="d-flex flex-row mb-3">
                <div class="p-2"><i class="fa-solid fa-heart"></i></div>
                <div class="p-2" href="{% url 'comment' %}"><i class="fa-solid fa-comments"></i></div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<h3>Hello</h3>
{% endblock %}