{% extends 'home/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{{block.super}}

<body>
    <div class="container" style="display:block; padding-top: 5rem">
        <h4 class="navbar-brand"><span style="margin-right: 4px; color:firebrick"><i
                    class="fa-brands fa-instagram fa-2xl"></i></span>Instagram</h4>
        <h4>Sign up to see photos and videos from your friends.</h4>
        <div class="dflex">
            <h3 class="text-center">Get the App</h3>
            <div class="col">
                <img src="{% static 'media/apple_store.png' %}" alt="Get it on app store" class="store-logo">
                <!-- <img src="{% static 'media/insta_image.avif' %}" id="index-image"> -->
            </div>
            <div class="col">
                <img src="{% static 'media/android_app.png' %}" alt="Get it on android" class="store-logo">
                <!-- here i will add a column that will countain routes to the login and registration pages. No need for so much clatter -->

            </div>

        </div>



    <label>
        <input type="checkbox">
        <span class="menu"> <span class="hamburger"></span> </span>
        <ul>
            <li> <a href="{% url 'accounts/login/' %}">Login</a> </li>
            <li> <a href="{% url 'accounts/register/' %}">Sign Up</a> </li>
        </ul>
    </label>
    </div>


    <!-- <form action="accounts/login/" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-group me-2">
                    <input type="submit" class="btn btn-outline-danger" value="Sign Up">
                </div>
            </form> -->


    {% endblock %}
</body>