{% extends 'home/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{{block.super}}

<body>
    <div class="container" style="display:block; padding-top: 2rem">
        <h4 class="navbar-brand" style="font-family: 'Pattaya', sans-serif; letter-spacing: 1px; font-size: 1.5rem;"><span
                style="margin-right: 4px; color:firebrick"><i class="fa-brands fa-instagram fa-2xl"></i></span>Instagram
        </h4>
        <label>
            <input type="checkbox">
            <span class="menu"> <span class="hamburger"></span> </span>
            <ul>
                <li> <a href="{% url 'accounts/login/' %}">Login</a> </li>
                <li> <a href="{% url 'accounts/register/' %}">Sign Up</a> </li>
            </ul>
        </label>
        <h4>Sign up to see photos and videos from your friends.</h4>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="{% static 'gallery/instagram-1280.webp' %}" width="800" height="400"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555"
                            dy=".3em"></text>
                   

                </div>
                <div class="carousel-item active">
                    <img src="{% static 'gallery/Reels-Instagram-ed.jpg' %}" width="800" height="400"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444"
                            dy=".3em"></text>
                    

                </div>
                <div class="carousel-item">
                    <img src="{% static 'gallery/doggo.png' %}" d-block w-100 width="800" height="400"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333"
                            dy=".3em"></text>
                   

                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <!-- <img src="{% static 'gallery/instagram-1280.webp' %}" id="index-image"> -->
        <div class="dflex justify-content-evenly">
            <!-- <h3 class="text-center">Get the App</h3> -->
            <div class="row justify-content-around">
                <div class="col-2 p-4">
                    <!-- <img src="{% static 'gallery/apple_store.png' %}" alt="Get it on app store" class="store-logo"> -->

                </div>
                <!-- <div class="col-2 p-4">
                <img src="{% static 'gallery/android_app.png' %}" alt="Get it on android" class="store-logo"> -->
                <!-- here i will add a column that will countain routes to the login and registration pages. No need for so much clatter -->
            </div>
        </div>
    </div>

    </div>
</body>
{% endblock %}