{% extends 'home/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{{block.super}}

<div class="container" style="display:block; padding-top: 5rem">
    <h4 class="logo"><span style="margin-right: 4px; color:firebrick"><i class="fa-brands fa-instagram fa-2xl"></i></span>Instagram</h4>
    <div class="row">
        
        <div class="col">
            <img src="{% static 'media/instagram-1280.webp' %}" id="index-image">
        </div>
        <div class="col">
            <!-- here i will add a column that will countain routes to the login and registration pages. No need for so much clatter -->
            <form action="accounts/login/" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-group me-2">
                    <input type="submit" class="btn btn-outline-danger" value="Sign Up">
                </div>
            </form>
            
        </div>
        
    </div>
    
    
</div>
{% endblock %}