{% extends 'home/base.html' %}
{% block content %}
<div class="container">
    <a class="navbar-brand" href="{% url 'home/' %}"
        style="font-family: 'Pattaya', sans-serif; letter-spacing: 1px; font-size: 1.5rem; padding: 1rem; color:black"><span><i
                class="fa-brands fa-instagram fa-xl"></i></span> Instagram</a>
    <div class="row">
        {% if pics %}
        <h2>Found {{pics | length}} pictures of searched image {{message}}</h2>
        {% else %}
        <h2>Found 0 pictures of searched image {{mesage}}</h2>
        {% endif %}
    </div>
    <div class="row">
        {% if pics %}
        {% for search in pics %}
        <img src="{{search.image.url}}" alt="{{message}}">
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}