@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.logo {
    text-align: left;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    
    
}

#index-image {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: auto;
    
}

